<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
     table {
        border-style: solid;
        border-color: #095484;
        text-align: center
      }
      th {
        border: solid #095484;
        background-color: #d9d9d9;
        text-align: center
      }
      td {
        border: groove #1c87c9;
        text-align: center
      }
   </style>
  </head>
  <body>

 <div class="container">
      <h1 style="text-align:left;"> {{title}} </h1>
      <table class="table table=hover testresultsummary">
        <th class="text-primary testresultsummary">Test Suite Name</th>
        <th class="text-primary testresultsummary">Total Test Cases Count</th>
        <th class="text-primary testresultsummary">Passed</th>
        <th class="text-primary testresultsummary">Failed</th>
        <th class="text-primary testresultsummary">Pass(%)</th>
        <tr class="info alert-info">
        {%for n in statusdet%}
        <td>{{n}}</td>
        {%endfor%}
        </tr>
      </table>
    <br>
    <h1 style="text-align:left;">Complete Test Info</h1>
    <table class="table table=hover testresultsummary">
        <tr>
        <th class="text-primary testresultsummary">Test Info</th>
        <th colspan="5" class="text-primary testresultsummary">Test Inputs</th>
        <th class="text-primary testresultsummary">Expected Outputs</th>
        <th colspan="5" class="text-primary testresultsummary">Actual CAMM response</th>
        <th colspan="2" class="text-primary testresultsummary">Actual FIX response</th>
        <th colspan="3" class="text-primary testresultsummary">Results</th>
        </tr>
        <tr>
        <th class="text-primary testresultsummary">Test Case ID</th>

        <!-- Columns for the Test inputs -->
        <th class="text-primary testresultsummary">Description</th>
        <th class="text-primary testresultsummary">Security ID</th>
        <th class="text-primary testresultsummary">Symbol</th>
        <th class="text-primary testresultsummary">Security type</th>
        <th class="text-primary testresultsummary">SecuritySub type</th>
        <!-- Columns for the Expected Outputs -->
        <th class="text-primary testresultsummary">Product type</th>
        <!-- Columns for the Actual CAMM Response -->
        <th class="text-primary testresultsummary">PriceRequest/EcnReqID</th>
        <th class="text-primary testresultsummary">PriceRequestDirection</th>
        <th class="text-primary testresultsummary">PriceRequestQuantity</th>
        <th class="text-primary testresultsummary">PriceRequestReqPriceValue</th>
        <th class="text-primary testresultsummary">PriceRequestSecurityID</th>
        <!-- Columns for the FIX Message Response -->
        <th class="text-primary testresultsummary">PriceRequestSettleDate</th>
        <th class="text-primary testresultsummary">PriceRequestCAMMValidationResult</th>
        <!-- Columns for the Results -->
        <th class="text-primary testresultsummary">Pass/Fail</th>
        <th class="text-primary testresultsummary">Actual CAMM Message Received</th>
        <th class="text-primary testresultsummary">Actual FIX Message Received</th>
        </tr>
        {%for n in td%}
        <tr>
        <td>{{n}}</td>
        <td>{{td[n][0]}}</td>
        <td>{{td[n][1]}}</td>
        <td>{{td[n][2]}}</td>
        </tr>
        {%endfor%}
</tr>
</table>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>